/* This is a CSS file that defines the layout and styles for a web page using CSS Grid. */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25% 75%;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    gap: 2px 2px;;
    /* Sidebar takes 1/5th of the width, main content takes 4/5ths */
    /* Header takes 1/5th of the height, main content takes 4/5ths */
    background-color: darkslategrey;
    }

/* Header area  */    
.header {
    margin: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr repeat(3, 1fr); 
    grid-template-rows: 50% 50%;
    gap: 5px 5px;}

/* Header items */
.header form {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Align vertically to center */
}

/* Search bar */
.header input[type="text"] {
    width: 75%;
    padding: 1%;
    border: 0.5px solid #ccc;
    border-radius: 25px;
    background-color: whitesmoke;
    color: black;
}

.header button[type="submit"] {
    visibility: hidden;
}

/* Alert icon */
.header .alert-icon {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: end;
    align-items: center; /* Align vertically to center */
}

.header .alert-icon img {
    width: clamp(20px,30px,40px);
    height: auto;
    filter: invert(100%);
}

/* Greeting text */

.header .greeting {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
    color: whitesmoke;}

.header .greeting img {
    height: auto;
    width: clamp(50px, 70px, 90px);
    border-radius: 30%;
    border: 1px solid whitesmoke;
}

/* User details */

.header .user {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}
.header .user-logo img {
    margin-top: 10px;
    border-radius: 50%;
    height: auto;
    width: clamp(40px, 60px,80px);
}

/* User ID */
.header .user-id h4,p{
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: column nowrap;
    justify-items: right;
    padding: 0 10px;
    color: whitesmoke;
}

/* Button list */
.header .button-list {
    grid-column: 4/span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header .button-list button {
    background-color: darkslategray;
    border: solid 2px whitesmoke;
    box-shadow: 2px 2px 5px #000;
    border-radius: 45%;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
}

/* Sidebar area */

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
    gap: 2px;

}

.sidebar .dashboard-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: darkslategray;
    font-size: 0.7em;
    font-weight: 600;
    background-color: whitesmoke;
    border-radius: 0%;
    
}

.sidebar .dashboard-logo img {
    width: clamp(60px, 80px, 100px);
    height: clamp(60px, 80px, 100px);
    border-radius: 25%;
}

.sidebar .lists {
    grid-row: 2 / span 3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: whitesmoke;

}

.sidebar ul li {
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    color: whitesmoke;
}

.sidebar ul li:hover {
    background-color: slategrey;
    cursor: pointer;
    font-weight: 600;
}

.main-content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: whitesmoke;
    overflow: scroll;
    padding: 15px;;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.75fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 5px;
    overflow: hidden;
}

.projects {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 5px;
    overflow: scroll;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
    color: darkslategray;
}

.project-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid darkslategray;
    box-shadow: 1px 1px 5px #000;
    padding: 15px;
}
.announcement-list {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid darkslategrey;
    box-shadow: 1px 1px 5px #000;
    overflow: scroll;
    padding: 10px;
    font-size: 0.8em;}


.task-list {
    grid-row: 2/span 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    background-color: darkslategray;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid darkslategrey;
    box-shadow: 1px 1px 5px #000;
    overflow: hidden;
    padding: 10px;
    font-size: 0.8em;}

.task-list h3 {
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
}

footer {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: end;
}


