/* This is a CSS file that defines the layout and styles for a web page using CSS Grid. */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    gap: 2px 0px;
    /* Sidebar takes 1/5th of the width, main content takes 4/5ths */
    /* Header takes 1/5th of the height, main content takes 4/5ths */
    background-color: darkslategrey;
    }

/* Header area  */    
.header {
    margin: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr repeat(3, 1fr); 
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;}

/* Header items */
.header form {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Align vertically to center */
}

/* Search bar */
.header input[type="text"] {
    width: 75%;
    padding: 1%;
    border: 0.5px solid #ccc;
    border-radius: 25px;
    background-color: whitesmoke;
    color: black;
}

.header button[type="submit"] {
    visibility: hidden;
}

/* Alert icon */
.header .alert-icon {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: end;
    align-items: center; /* Align vertically to center */
}

.header .alert-icon img {
    width: clamp(20px,30px,40px);
    height: auto;
    filter: invert(100%);
}

/* Greeting text */

.header .greeting {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
    color: whitesmoke;}

.header .greeting img {
    height: auto;
    width: clamp(50px, 70px, 90px);
    border-radius: 30%;
    border: 1px solid whitesmoke;
}

/* User details */

.header .user {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: row;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}
.header .user-logo img {
    margin-top: 10px;
    border-radius: 50%;
    height: auto;
    width: clamp(40px, 60px,80px);
}

/* User ID */
.header .user-id h4,p{
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: column nowrap;
    justify-items: right;
    padding: 0 10px;
    color: whitesmoke;
}

/* Button list */
.header .button-list {
    grid-column: 4/span 2;
    grid-row: 2 / span 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header .button-list button {
    background-color: darkslategray;
    border: solid 2px whitesmoke;
    box-shadow: 2px 2px 5px #000;
    border-radius: 45%;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
}

/* Sidebar area */

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-color: slategray;
    height: 100%;
}

.main-content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: whitesmoke;
    overflow: hidden;
}